

.todo-navigation {
  background-color: #1F2532;
  height: 100px;
  padding: 20px;
  color: white;
  
}

.todo-navigation ul {
  list-style-type: none;
  padding: 40px 0;
}

.action-buttons li {
  float:right;
}

.app-title {
  font-size: 1.5em;
}

.page-wrapper {
  max-width: 1366px;
  margin: 0 auto;
}


/* BUTTONS */
.btn {
  border-radius: 10px;
}